@model List<Cliente>
@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>
@if(Model.Count == 0)
{
    //<mensagem texto="Nenhum cliente encontrado." class="my-3 alert alert-danger"></mensagem>
}

@if(Model != null) {
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Ações</th>
        </tr>
        @foreach (Cliente c in Model)
        {
            <tr>
                <td>@c.Nome</td>
                <td>@c.DataNascimento</td>
                <td>
                    <a asp-action="editar" asp-route-id="@c.ClienteId" class="btn btn-warning btn-sm">Editar</a>
                    <button onclick="IdCliente.value = @c.ClienteId" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                        Excluir
                    </button>
                    
                    
                </td>
            </tr>
        }

    </table>
} else {
    <p>Nenhum Cliente foi cadastrado ainda.</p>
}

<a asp-action="Cadastrar" class="btn btn-success">Cadastrar Cliente</a>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja excluir esse Cliente?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        <form asp-action="Excluir">
            <input type="hidden" name="id" id="IdCliente"/>
            <input type="submit" value="Excluir" class="btn btn-danger btn-sm"/>
        </form>
      </div>
    </div>
  </div>
</div>